@use 'src/styles/_vars';
@import 'src/styles/theme-colors.scss';

.logginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;


  &__title {
    @include themed() {
      color: ask($title-brown);
    }
    font-family: Oleo Script;
    font-size: 5em;
    font-weight: 300;
    z-index: 1;
    padding:.5em;
  }

  &__message {
    letter-spacing: 1px;
    line-height: 1.2rem;
    @include themed() {
      color: ask($title-blue);
    }
    margin-bottom: 1rem;
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__form {
    display:flex;
    flex-direction: column;

  }

  &__input {
    margin-bottom: 1rem;
  }

  &__button {
    background-color: vars.$color-orange;
    border: solid 1px;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  &__inscription {
    margin-bottom: 1rem;
  }

  p {
    @include themed() {
      color: ask($text);
    }
  }


  .inscription__message {
    padding-top: 1rem;
    border-top: solid 1px;
    @include themed() {
      color: ask($text);
    }
  }

  .inscription__link {
    text-decoration: underline;
    @include themed() {
      color: ask($text);
    }
  }


}

@media only screen and (min-width: 768px) {
  .logginForm__input {
    padding: 0.5rem 3rem;
  }
  }
