@use 'src/styles/vars';
@import 'src/styles/theme-colors.scss';

.spot {
  overflow: hidden;
  padding-bottom: 1em;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;

    .header__name {
      font-family: Oleo Script,cursive;
      font-weight: bold;
      font-size: 2rem;
      @include themed() {
        color: ask($title-brown);
      }

      &--fav {
        border: none;
        background-color: white;
        font-size: 1.5em;
        color: vars.$color-orange;
      }
    }
  }

  &__picture {
    position: relative;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;

    &--button {
      height: 4em;
      position: absolute;
      right: 1em;
      top: 1em;
      width: 4em;
      border: 2px solid #fca311;
      border-radius: 5px;
      background-color: rgb(255 255 255 / 70%);
      color: #fca311;
      font-weight: 700;
    }

    &--icon {
      width:2em;
    }

    &--image {
      max-height: 500px;
      max-width: 700px;
      border-radius: 10px;
      display: block;
      margin: auto;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    margin: 1em;
    @include themed() {
      background-color: ask($bg);
    }
    border-radius: 10px;
    border: solid, 2px, vars.$color-orange;
    padding: 0.5em;
    max-width: 700px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    @include themed() {
      color: ask($text);
    }

    .description__address {
        text-align: left;
        line-height: 1.3em;
        padding-right: 1em;
    }

    .description__features {
      text-align: left;

      .features__p {
        margin-top: 0.3em;
      }
  }

  }

  &__various {
    @include themed() {
      background-color: ask($bg);
    }
    @include themed() {
      color: ask($text);
    }
    border-radius: 10px;
    border: solid, 2px, vars.$color-orange;
    padding: 0.5em;
    max-width: 700px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }

  &__strong {
    font-weight: bold;
    @include themed() {
      color: ask($title-brown);
    }
  }
}

@media only screen and (min-width : 600px) {

  .spot {
  
    &__description {
      display: flex;
      flex-direction: column;
  
      .description__address {

        margin-bottom: 1em;

      }
  
    }
  }

  }

