@use 'src/styles/_vars';

.selectSpotType {
  margin-bottom:  2rem;
  height: 100%;
  &__question {
    font-family: Oleo Script,cursive;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    color: vars.$color-brown;
    text-align: center;
  }

  &__choice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
