@use 'src/styles/vars';
@import 'src/styles/theme-colors.scss';

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow: auto;
  height: 100%;
  @include themed() {
    background-color: ask($bg);
  }

  hr {
    @include themed() {
      border: 1px solid ask($text);
    }
    width: 80%;
    border-radius: 3px;
    height:0px;
  }

  &__header {
    padding: 1rem;
    display:flex;
    justify-content: space-evenly;
    width: 70%;

    &--informations {
      width: 100%;
    }
    
    &--picture {
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      border: 5px solid #fca311;
      padding: .3em;
      object-fit: cover;
      margin: 0.5rem 0;
    }

    &--form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    label {
      font-family: Oleo Script,cursive;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-bottom: 0.3rem;
      @include themed() {
        color: ask($title-brown);
      }
    }

    &--input,
    &--textarea {
      width: 100%;
      text-align: center;
      border: 1px solid vars.$color-orange;
      border-radius: 5px;
      @include themed() {
        background-color: ask($bg);
      }
      @include themed() {
        color: ask($text);
      }
    }

    &--textarea {
      height: 80px;
    }

    button {
      margin: 1rem 0;
      background-color: vars.$color-orange;
      border: solid 1px vars.$color-blue;
      @include themed() {
        color: ask($text);
      }
      margin-bottom: 1rem;
      padding: 0.5rem;
      width: 50%;
      align-self: center;
    }

    &--informations {
      margin-top: 0.5rem;
      @include themed() {
        color: ask($text);
      }

      h1 {
        font-size: 2em;
        font-family: 'Oleo Script';
        color: #fca311;
      }
    
      h2 {
        font-size: 1.2em;
        @include themed() {
          color: ask($title-blue);
        }
        font-weight: 700;
        margin-bottom:1em;
      }
    
      h3 {
        font-size: 1em;
        @include themed() {
          color: ask($title-blue);
        }
        font-weight: 700;
        margin-bottom: .5em;
      }
    }
  }

  &__favorites {
    padding: 0 3em;
    text-align: center;

    &--title {
      @include themed() {
        color: ask($title-blue);
      }
      font-size: 1.5em;
      font-weight: 700;
      margin: 1em auto;
      font-family: 'Oleo Script';
    }

    &--cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__map {
    width: 90%;
    margin: 2em 0;
    border: 5px solid #fca311;
    border-radius: 10px;
    padding: .3em;
    min-height: 300px;

    .leaflet-container {
      max-width:100%;
      height:100%;
    }

      h3 {
        @include themed() {
          color: ask($title-brown);
        }
      }
  }
}

.section {
  max-width: 80%;

  &-map {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .section {
    width: 100%;
  }
  .profile {

    &__header {
      padding:3em;
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
      
      &--informations {
        width: 100%;
        margin-left:2em;
        text-align: center;
        margin: 1em 0;
      }

      &--form {
        width: 100%;
      }
    }

    &__favorites {
      padding: 0;

      &--cards > a {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .profile {
    &__header {

      &--form {
          width: 50%;
      }
    }

    &__favorites--cards {
      justify-content: flex-start;
    }
  }
  .section {
    display: flex;
    width: 80%;

    &-favorites {
      width: 70%;

      .profile__favorites {
        padding:0;
      }
    }

    &-map {
      width: 30%;

      .profile__map {
        margin: 2em 0 .5em;
        border: 5px solid #fca311;
        border-radius: 10px;
        padding: .3em;
        width: 100%;
        max-height:70vh;
      }
    }
  }
}
