@use 'src/styles/vars';

.sliderCards {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    &__picture {
        width: 100vw;
    }

    // &__button--previous,
    // &__button--next {
    //   background-color: rgba(255, 255, 255, .7);
    //   border: 2px solid vars.$color-orange;
    //   border-radius: 50%;
    //   width: 3em;
    //   height: 3em;
    //   color: vars.$color-orange;
    //   z-index:1;

    //   &:hover {
    //     background-color: rgb(255, 255, 255);
    //   }
    // }

    &__button--previous {
      position: absolute;
      left: 1em;
    }

    &__button--next {
      position: absolute;
      right: 1em;
    }
}

// CSS classes of the <Carousel /> component's slider button 
.control-arrow {
  background-color: #fff !important;
  opacity: .7 !important;
  border: 2px solid #fca311 !important;
  border-radius: 50% !important;
  color: #fca311 !important;
  height: 3em !important;
  width: 3em !important;
  z-index: 1 !important;
  top:40% !important;

  &:hover {
    background-color: rgb(255, 255, 255) !important;
  }
}

.control-next {
  right:2em !important;

  &:before {
    border-left: 8px solid #fca311 !important;
    left:2em !important;
  }
}

.control-prev {
  left:2em !important;

  &:before {
    border-right: 8px solid #fca311 !important;
  }
}
