.error {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;

  &__title {
    color: #14213d;
    font-size: 1.3em;
    font-weight: 300;
  }

  &__content {
    display: flex;
    padding: 1em;
    position: relative;

    &--title {
      color: #fca311;
      font-family: Oleo Script;
      font-size: 15em;
      font-weight: 300;
      z-index: 1;
    }

    &--gif {
      border-radius: 10px;
      margin: 1em 0;
      width: 50%;
      position: absolute;
      right: -10em;
    }
  }

  &__button {
    max-width: 100%;
    width: 30em;
    height: 3em;
    border: none;
    background-color: #14213d;
    color: #fff;
    border-radius: 4px;
  }
}

@media screen and (max-width: 700px) {
  .error {

    &__content {
      display: flex;
      padding: 1em;
      flex-wrap: wrap;
      justify-content: center;

      &--gif {
        border-radius: 10px;
        position: static;
        margin-top: -5em;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .error {

    &__content {

      &--title {
        font-size:10em;
      }
    }
  }
}
