@use 'src/styles/_vars';

.teampage {

  &__title {
    font-family: 'Oleo Script';
    font-size: 2rem;
    font-weight: bold;
    
  }

  &__member {

    &--picture {
      border-radius: 50%;
      max-width: 10rem;
      max-height:10rem;
      border: 5px solid #fca311;
      padding: .3em;
    }

    &--name {

    }

    &--job {

    }

    &--description {
      
    }
  }
}
