@import 'src/styles/theme-colors.scss';

.spotPage {
  @include themed() {
    background-color: ask($bg);
  }
}

.messages-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
  max-width: 700px;
}

.form__link {
  border: 2px solid #fca311;
  border-radius: 0 0 5px 0;
  color: #fff;
  padding: 1em;
  background-color: #fff;

  &--button {
    border: none;
    background-color: #fff;
    border-radius: 0 0 5px 0;
    color: #fca311;
    font-weight: 700;
  }
}
