@use 'src/styles/_vars';

.home {
  &__description {
    margin: auto;
  max-width: 700px;

    &--title {
      font-family: Oleo Script,cursive;
      font-weight: bold;
      font-size: 2rem;
      padding: 1rem;
      color: vars.$color-brown;
      text-align: center;
    }

    &--text {
      letter-spacing: 1px;
      line-height: 1.2rem;
      color: vars.$color-blue;
      margin-bottom: 1rem;
      text-align: justify;
      span {
        display: block;
        font-size: 1.3rem;
        text-align: center;
        font-family: Oleo Script,cursive;
        color: vars.$color-brown;
      }
    }
  }
}
