@use 'src/styles/vars';
@import 'src/styles/theme-colors.scss';

.header {
    max-width: 100% !important;
    @include themed() {
      background-color: ask($bg);
    }

    &-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 0;

      &__logo {
        max-width:150px;
      }

      &__links {
        display: flex;
        align-items: center;
        @include themed() {
          color: ask($nav-text);
        }
      }
    }
}

svg {
  @include themed() {
    color: ask($text);
  }
}

.MuiSwitch-track {
  @include themed() {
    background-color: ask($nav-switch);
  }
}

.gutter-links {
  margin-left:1em;
}

.burger {

  &__links {
    border-bottom: 1px solid #000;
    padding: 1em 0;
    margin: 1em;
    width:90% !important;
  }

  &__links:last-child {
    border-bottom: none;
  }

  &__account {
    display: flex;
    align-items: center;

    &--image {
      max-width: 1em;
      margin-right: 1em;
    }
  }

  &__connect {
    justify-content: space-between !important;
    width:90% !important;

    &--image {
      width: 1em;
      margin-right: 1em;
    }

    &--dark-mode {
      display: flex;
      align-items: center;
    }
  }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  width: 80%;
  max-width:330px;
  background: #fca311;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px 0 0 15px;
}
