@use 'src/styles/_vars';

.registerForm {
  padding: 4rem;
  margin: auto;
  max-width: 600px;

  &__title {

    font-family: Oleo Script,cursive;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    color: vars.$color-brown;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }

  &__input {

    margin: 0.5rem 1rem 1rem 1rem;
    height: 2rem;

    &--error {
      color: red;
      font-size: 0.7em;
      text-align: center;
    }

  }

  &__button {

    background-color: vars.$color-orange;
    border: solid 1px;
    margin-top: 1rem;
    padding: 0.5rem;
    
  }
}
