@use 'src/styles/_vars';
@import 'src/styles/theme-colors.scss';

.spots{
  // height: 100%;
  &__title {
    margin: 3rem 0;
    @include themed() {
      color: ask($title-brown);
    }
    font-family: Oleo Script,cursive;
    font-size: 1.3rem;
    text-align: center;
  }

  &__cards {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

  }

}

