@use 'src/styles/_vars.scss';

.leaflet-container {
  margin: auto;
  width: 100%;
  max-width: 700px;
  height: 310px;
  border-radius: 5px;
}

.map-popup {
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }
}
